<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.why168.multichannelbuild">

    <application
        android:allowBackup="true"
        android:icon="${APP_LOGO}"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon,android:theme">

        <meta-data
            android:name="Multi_CHANNEL"
            android:value="${CHANNEL_NAME}" />

        <meta-data
            android:name="PUSH_APP_ID"
            android:value="${APP_ID}" />
        <meta-data
            android:name="PUSH_APP_KEY"
            android:value="${APP_KEY}" />


        <activity
            android:name=".MainActivity"
            android:label="${APP_NAME}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>